<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../assets/js/utils/Routes.js" type="module"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Repartidores</title>
    <link href="https:fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css"/>
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
<div id="app">
    <nav id="navTemplate"></nav>
    <div id="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../dashboards/admin_dashboard.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Repartidores
                </li>
            </ol>
        </nav>
        <div class="card mb-0">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="card-body page-heading m-0 px-4">
                        <h3 class="text-center mb-1 m-0">Repartidores Registrados</h3>
                        <small class="text-muted">Lista de repartidores registrados en el sistema</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex my-3 mt-4 col-12">
            <a href="register_dealer.html" class="btn btn-success">
                <i class="fas fa-user-plus me-2"></i>
                Registrar Repartidor
            </a>
        </div>
        <div class="page-content">
            <section class="row gx-4" id="content-page"></section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="text-center">
                    <p>2022 &copy; ThePandaDevs</p>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="../../assets/vendors/fontawesome/all.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/components.js" type="module"></script>
<script src="../../assets/js/logout.js" type="module"></script>
<script src="../../assets/js/services/Dealer.js" type="module"></script>
<script src="../../assets/js/utils/InternetConnection.js" type="module"></script>
</body>
</html>
