<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../assets/js/utils/Routes.js" type="module"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registrar Repartidor</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css"/>
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
<div id="app">
    <nav id="navTemplate"></nav>
    <div id="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../dashboards/admin_dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="../dealers/dealers.html">Repartidores</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Registrar Repartidor
            </li>
        </ol>
        <div class="page-content p-4 ">
            <div class="card mb-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="card-body page-heading m-0 px-4">
                            <h3 class="text-center">Registrar nuevo repartidor</h3>
                            <small class="text-muted">Por favor, llena los siguientes campos:</small>
                        </div>
                    </div>
                </div>
            </div>
            <section class="row">
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <div class="d-flex align-items-center"><h3 class=" text-center">Datos del
                                        Repartidor</h3></div>
                                </div>
                                <form id="formulario">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label text-primary" for="nombreU">Nombre(s)</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        <input type="text" class="form-control" id="nombreU"
                                                               name="nombreU" placeholder="Pj: Armando"/>
                                                        <!--<input id="id" type="text" class="form-control"
                                                               placeholder="Pj: Armando"/>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label text-primary" for="paternoU">Apellido Paterno</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text"><i class="fas fa-user "></i></span>
                                                        <input type="text" class="form-control" id="paternoU"
                                                               name="paternoU" placeholder="Pj: Fernández"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label text-primary" for="maternoU">Apellido Materno</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text"><i class="fas fa-user "></i></span>
                                                        <input type="text" class="form-control" id="maternoU"
                                                               name="maternoU" placeholder="Pj: Gómez"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label text-primary" for="phoneU">Teléfono (10 dígitos)</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text"><i class="fas fa-phone "></i></span>
                                                        <input type="text" class="form-control" id="phoneU"
                                                               name="phoneU" placeholder="Pj: 7771342399" minlength="10"
                                                               maxlength="10"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label text-primary" for="emailU">Correo Electrónico</label>
                                                    <div class="input-group mb-3">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-envelope "></i></span>
                                                        <input type="text" class="form-control" id="emailU"
                                                               name="emailU" placeholder="Pj: armando@gmail.com"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mt-4">
                                            <a href="./dealers.html" class="btn btn-danger">
                                                <i class="fas fa-chevron-left me-2"></i>Regresar
                                            </a>
                                            <button id="btnRegister" type="submit" class="btn btn-primary">
                                                <i class="fas fa-user-plus me-2"></i>Registrar Repartidor
                                            </button>

                                            <button type="button" id="btnShowModalPassword" hidden
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="text-center">
                    <p>2022 &copy; ThePandaDevs</p>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Otorgar contraseña temporal</h5>
            </div>
            <div class="modal-body">
                <p>Por favor, entregale al repartidor su <strong>contraseña temporal:</strong></p>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <p id="password" class="text-primary fs-3 fw-bold m-0 me-4"></p>
                    <button class="btn btn-primary" id="copyBtn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Copiar contraseña">
                        <i class="fas fa-copy text-small"></i>
                    </button>
                </div>
                <p>Te recomendamos avisarle en que la cambie lo antes posible.</p>
                <div class="modal-footer">
                    <button id="btnRedirect" type="button" class="btn btn-primary" data-bs-dismiss="modal">¡Entendido!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/utils/Validations.js"></script>
<script src="../../assets/vendors/fontawesome/all.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/components.js" type="module"></script>
<script src="../../assets/js/logout.js" type="module"></script>
<script src="../../assets/js/services/Dealer.js" type="module"></script>

</body>

</html>