<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../assets/js/utils/Routes.js"></script>
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css">
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>

<div id="app">
    <nav id="navTemplate"></nav>
    <div id="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="../dashboards/dealer_dashboard.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Perfil</li>
            </ol>
        </nav>
        <div class="card m-2">
            <div class="row col-12">
                <div class="card-body text-center">
                    <h3>Perfil</h3>
                    <p>Aquí se muestran tus datos guardados en la aplicación</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="row" id="formProfile">
                                <div class="col-md-12 mb-3">
                                    <label for="email" class="form-control-label"><h5>Email</h5></label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="email" name="email" id="email" disabled>
                                        <div class="form-control-icon"><i
                                                class="fas fa-envelope fs-6 text-secondary"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="name" class="form-control-label"><h5>Nombre</h5></label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="text" id="name" name="name">
                                        <div class="form-control-icon"><i class="fas fa-user fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="first_surname" class="form-control-label"><h5>Apellido Paterno</h5>
                                    </label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="text" id="first_surname">
                                        <div class="form-control-icon"><i class="fas fa-user fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="second_surname" class="form-control-label"><h5>Apellido Materno</h5>
                                    </label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="text" name="second_surname"
                                               id="second_surname">
                                        <div class="form-control-icon"><i class="fas fa-user fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="phone" class="form-control-label"><h5>Telefono</h5></label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="tel" id="phone" name="phone">
                                        <div class="form-control-icon"><i
                                                class="fas fa-phone-alt fs-6 text-secondary"></i></div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary font-bold col-12">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-gray-600">Cambiar contraseña</h5>
                            <form class="row" id="formPassword">
                                <div class="col-md-6 mb-3">
                                    <label for="password" class="form-control-label font-bold"><h5>Contraseña
                                        Actual</h5></label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="password" id="password" name="password">
                                        <div class="form-control-icon"><i class="fas fa-lock fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="new_password" class="form-control-label"><h5>Nueva Contraseña</h5>
                                    </label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="password" id="new_password"
                                               name="new_password">
                                        <div class="form-control-icon"><i class="fas fa-lock fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="new_password_confirmation" class="form-control-label"><h5>Confirmar
                                        Contraseña</h5></label>
                                    <div class="form-group position-relative has-icon-left m-0">
                                        <input class="form-control" type="password" id="new_password_confirmation"
                                               name="new_password_confirmation">
                                        <div class="form-control-icon"><i class="fas fa-lock fs-6 text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <button class="btn btn-primary font-bold col-12" id="btnSavePassword">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="text-center">
            <p>2022 &copy; ThePandaDevs</p>
        </div>
    </div>
</footer>
<script src="../../assets/vendors/fontawesome/all.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/profile.js" type="module"></script>
<script src="../../assets/js/components.js" type="module"></script>
<script src="../../assets/js/logout.js" type="module"></script>

</body>

</html>