<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
</head>

<body>

    <div id="app">
        <!-- Navbar -->
        <nav class="navbar nv-style  navbar-expand-md  navbar-light bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="" href="#"> <img class="navbar-brand img-fluid" style="width: 100px; height:auto"
                        src="/assets/images/logo/logo.png"></img></a>
                <div class="collapse navbar-collapse  p-3 p-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Acaba Navbar -->
        <div id="main">
            <div class="page-heading mb-0">
                <h3>Resumen de SweetDrop</h3>
                <p class="m-0">Bienvenido, Administrador. A continuación se muestran información revelante.</p>
            </div>
            <hr>
            <div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <!-- Lista de cards -->
                        <div class="row">
                            <div class="col-6 col-xl-3 col-md-6 grid">
                                <div class="card text-center">
                                    <div class="card-body py-4 px-3">
                                        <div class="row">
                                            <div class="col-md-4 icon-container">
                                                <div class="stats-icon purple">
                                                    <i class="fas fa-shopping-bag fs-4 text-white"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-center my-2">
                                                <h6 class="text-muted font-semibold">Tiendas registradas</h6>
                                                <h6 class="font-extrabold mb-0 fs-3">24</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 col-md-6 grid">
                                <div class="card text-center">
                                    <div class="card-body py-4 px-3">
                                        <div class="row">
                                            <div class="col-md-4 icon-container">
                                                <div class="stats-icon blue">
                                                    <i class="fas fa-clipboard text-white fs-4"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-center my-2">
                                                <h6 class="text-muted font-semibold">Órdenes registradas</h6>
                                                <h6 class="font-extrabold mb-0 fs-3">305</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 col-md-6 grid">
                                <div class="card text-center">
                                    <div class="card-body py-4 px-3">
                                        <div class="row">
                                            <div class="col-md-4 icon-container">
                                                <div class="stats-icon green">
                                                    <i class="fas fa-users text-white fs-4"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-center my-2">
                                                <h6 class="text-muted font-semibold">Total de repartidores</h6>
                                                <h6 class="font-extrabold mb-0 fs-3">8</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 col-md-6 grid">
                                <div class="card text-center">
                                    <div class="card-body py-4 px-3">
                                        <div class="row">
                                            <div class="col-md-4 icon-container">
                                                <div class="stats-icon red">
                                                    <i class="fas fa-candy-cane text-white fs-4"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-center my-2">
                                                <h6 class="text-muted font-semibold">Total de productos</h6>
                                                <h6 class="font-extrabold mb-0 fs-3">35</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Total ventas card -->
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Total de ventas</h5>
                                            <p class="mb-1">El total de ventas hasta el día de hoy es de </p>
                                            <div class="mb-4"><span class="fw-bold fs-3">$300,532 MXN</span></div>
                                            <a href="orders.html" class="btn btn-sm btn-primary">Ver órdenes</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-4">
                                            <img src="/assets/images/resources/man-laptop.png" height="140"
                                                alt="man-with-laptop"
                                                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                data-app-light-img="illustrations/man-with-laptop-light.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Lista órdenes carrusel -->
                        <div class="card">
                            <div class="card-header">
                                <h4>Lista de órdenes</h4>
                                <p>A continuación, se muestran las últimas 10 órdenes.</p>
                            </div>
                            <div class="card-body px-0">
                                <div id="carouselExampleControls" class="carousel slide carousel-dark"
                                    data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item px-5 px-md-5">
                                            <div class="col px-2">
                                                <div class="card">
                                                    <div class="card-header bg-light">
                                                        <div class="d-flex align-items-start">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar me-3">
                                                                    <i class="fas fa-info-circle text-primary fs-1"></i>
                                                                </div>
                                                                <div class="me-2">
                                                                    <h5 class="mb-1 text-danger">Folio:
                                                                        <span class="text-body fw-normal">36635</span>
                                                                    </h5>
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <h6 class="mb-0 me-1">Tienda:</h6><span>Dulcería
                                                                            Wonderfull</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body bg-light">
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <div class="text-left mb-3">
                                                                <h6 class="mb-1"><i
                                                                        class="fas fa-calendar-day me-1"></i> Fecha de
                                                                    solicitud: <span
                                                                        class="text-body fw-normal">14/2/21</span></h6>
                                                                <h6 class="mb-2 mt-4 text-success"><i
                                                                        class="fas fa-calendar-check me-2"></i>Fecha de
                                                                    entrega: <span
                                                                        class="text-body fw-normal">28/2/22</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="bg-white p-2 rounded me-auto mb-3 text-center">
                                                            <span>Monto total:</span>
                                                            <h6 class="mb-1 fs-5">$24.8k
                                                            </h6>
                                                        </div>
                                                        <ul class="p-0 m-0">
                                                            <li class="d-flex mb-4 pb-1">
                                                                <div class="avatar flex-shrink-5 me-3">
                                                                    <span
                                                                        class="avatar-initial rounded bg-label-primary px-3">
                                                                        <i class="fas fa-truck"></i>
                                                                    </span>
                                                                </div>
                                                                <div
                                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                    <div class="me-2">
                                                                        <h6 class="mb-0">Entrega realizada por:</h6>
                                                                        <small class="text-muted">Luis Álvarez</small>
                                                                    </div>
                                                                    <div class="user-progress">
                                                                        <small class="fw-semibold">777 522 36 58</small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex mb-4 pb-1">
                                                                <div class="avatar flex-shrink-5 me-3">
                                                                    <span
                                                                        class="avatar-initial rounded bg-label-secondary px-3">
                                                                        <i class="fas fa-sign-in-alt"></i>
                                                                    </span>
                                                                </div>
                                                                <div
                                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                    <div class="me-2">
                                                                        <h6 class="mb-0 text-secondary">Entrega recibida
                                                                            por:</h6>
                                                                        <small class="text-muted">Ernesto Torres</small>
                                                                    </div>
                                                                    <div class="user-progress">
                                                                        <small class="fw-semibold">777 344 54 25</small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body border-top bg-light">
                                                        <div class="d-flex justify-content-between my-3">
                                                            <span
                                                                class="badge bg-success d-flex align-items-center">Completada</span>
                                                            <a href="#" class="btn btn-outline-secondary">Ver más
                                                                detalles
                                                                <i class="fas fa-chevron-right text-secondary ms-2"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item active px-5 px-md-5" data-bs-interval="1000000">
                                            <div class="col px-2">
                                                <div class="card">
                                                    <div class="card-header bg-light">
                                                        <div class="d-flex align-items-start">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar me-3">
                                                                    <i class="fas fa-info-circle text-primary fs-1"></i>
                                                                </div>
                                                                <div class="me-2">
                                                                    <h5 class="mb-1 text-danger">Folio:
                                                                        <span class="text-body fw-normal">36635</span>
                                                                    </h5>
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <h6 class="mb-0 me-1">Tienda:</h6><span>Dulcería
                                                                            Wonderfull</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body bg-light">
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <div class="text-left mb-3">
                                                                <h6 class="mb-1"><i
                                                                        class="fas fa-calendar-day me-1"></i> Fecha de
                                                                    solicitud: <span
                                                                        class="text-body fw-normal">14/2/21</span></h6>
                                                                <h6 class="mb-2 mt-4 text-success"><i
                                                                        class="fas fa-calendar-check me-2"></i>Fecha de
                                                                    entrega: <span
                                                                        class="text-body fw-normal">28/2/22</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="bg-white p-2 rounded me-auto mb-3 text-center">
                                                            <span>Monto total:</span>
                                                            <h6 class="mb-1 fs-5">$24.8k
                                                            </h6>
                                                        </div>
                                                        <ul class="p-0 m-0">
                                                            <li class="d-flex mb-4 pb-1">
                                                                <div class="avatar flex-shrink-5 me-3">
                                                                    <span
                                                                        class="avatar-initial rounded bg-label-primary px-3">
                                                                        <i class="fas fa-truck"></i>
                                                                    </span>
                                                                </div>
                                                                <div
                                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                    <div class="me-2">
                                                                        <h6 class="mb-0">Entrega realizada por:</h6>
                                                                        <small class="text-muted">Luis Álvarez</small>
                                                                    </div>
                                                                    <div class="user-progress">
                                                                        <small class="fw-semibold">777 522 36 58</small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex mb-4 pb-1">
                                                                <div class="avatar flex-shrink-5 me-3">
                                                                    <span
                                                                        class="avatar-initial rounded bg-label-secondary px-3">
                                                                        <i class="fas fa-sign-in-alt"></i>
                                                                    </span>
                                                                </div>
                                                                <div
                                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                    <div class="me-2">
                                                                        <h6 class="mb-0 text-secondary">Entrega recibida
                                                                            por:</h6>
                                                                        <small class="text-muted">Ernesto Torres</small>
                                                                    </div>
                                                                    <div class="user-progress">
                                                                        <small class="fw-semibold">777 344 54 25</small>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body border-top bg-light">
                                                        <div class="d-flex justify-content-between my-3">
                                                            <span
                                                                class="badge bg-success d-flex align-items-center">Completada</span>
                                                            <a href="#" class="btn btn-outline-secondary">Ver más
                                                                detalles
                                                                <i class="fas fa-chevron-right text-secondary ms-2"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev px-0" href="#carouselExampleControls" role="button"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next px-0" href="#carouselExampleControls" role="button"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="text-center">
                        <p>2022 &copy; ThePandaDevs</p>
                    </div>

                </div>
            </footer>
        </div>
    </div>


    <!-- Scripts 
    ================================================== -->
    <script src="/assets/vendors/fontawesome/all.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>