<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../assets/js/utils/Routes.js" type="module"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendas | Repartidores</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css">
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
<div id="app">
    <nav id="navTemplate"></nav>
    <div id="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="../dashboards/admin_dashboard.html.html">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="../store/stores.html">Tiendas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Asignar Repartidor</li>
            </ol>
        </nav>
        <div class="mb-0 order-0">
            <div class="card mb-0">
                <div class="card mb-0">
                    <div class="d-flex align-items-center row">
                        <div class="col-sm-7">
                            <div class="card-body page-heading m-0 px-4">
                                <p class="fs-5 fw-bold">Por favor, asigna los repartidores para la tienda:</p>
                                <p id="name" class="fs-6 fw-bold text-auxiliar"><i class="fas fa-store me-2"></i></p>
                                <p id="phone" class="text-primary"><a class="text-primary"><i class="fas fa-phone me-2 "></i></a></p>
                                <div class="mt-3">
                                    <p class="text-secondary" id="address"><i class="fas fa-map-marker-alt me-2"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left ">
                            <div class="card-body py-0 px-0 px-md-4">
                                <img src="../../assets/images/resources/asign-dealer.png" height="200" alt="add-order">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="page-content">
            <div class="card mb-4 p-4">
                <div class="form-group position-relative has-icon-left m-0">
                    <input type="text" class="form-control" id="inputDealers" placeholder="Filtrar repartidor por nombre"/>
                    <div class="form-control-icon"><i class="fas fa-search fs-6 text-secondary"></i></div>
                </div>
            </div>
            <section id="dealers" class="row gx-4"></section>
        </div>
        <div class="btn-float mt-2 d-flex justify-content-center">
            <button id="btnSaveDealers" class="btn btn-primary col-10 btn-floating">
                <i class="fas fa-users me-2"></i>Guardar repartidores en tienda
            </button>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="text-center">
                    <p>2022 &copy; ThePandaDevs</p>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="../../assets/vendors/fontawesome/all.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/components.js" type="module"></script>
<script src="../../assets/js/logout.js" type="module"></script>
<script src="../../assets/js/services/AsignDealersServices.js" type="module"></script>
<script src="../../assets/js/utils/InternetConnection.js" type="module"></script>
</body>

</html>