<!DOCTYPE html>
<html lang="en">

<head>
     <script src="../../assets/js/utils/Routes.js" type="module"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Tienda</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css">
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
    <div id="app">
        <nav id="navTemplate"></nav>
        <div id="main">
            <div class="mb-0 order-0">
                <div class="card mb-0">
                    <div class="d-flex align-items-center row">
                        <div class="col-sm-7">
                            <div class="card-body page-heading  m-0 px-4">
                                <div class="row gx-4">
                                    <div class="col-auto my-auto">
                                        <div class="h-100">
                                            <h1 class="mb-1">
                                                Registrar Tiendas
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="horizontal dark">

            <!-- Contenido de la página web -->
            <div class="page-content">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row gx-4">
                                <form class="form" id="registerForm">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mt-3 mb-4">
                                            <div class="form-group position-relative has-icon-left m-0">
                                                <label class="form-label" for="name">Nombre</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control"
                                                        placeholder="Abarrotes Domínguez" id="name" name="name" />
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-store fs-6 text-secondary"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mt-3 mb-4">
                                            <div class="form-group position-relative has-icon-left m-0">
                                                <label class="form-label" for="phone">Teléfono</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-phone"></i></span>
                                                    <input type="text" class="form-control" placeholder="7775674323"
                                                        id="phone" name="phone" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mt-3 mb-4">
                                            <div class="form-group position-relative has-icon-left m-0">
                                                <label class="form-label" for="address">Dirección</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="deliver_date"><i
                                                            class="fas fa-map"></i></span>
                                                    <input type="text" class="form-control"
                                                        placeholder="Av.Plan de Ayala No.45" id="address" name="address"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mt-3 mb-4">
                                            <div class="form-group position-relative has-icon-left m-0">
                                                <label class="form-label" for="zipcode">Código Postal</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" placeholder="62000"
                                                        id="zipcode" name="zipcode" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mt-3 mb-4">
                                            <div class="form-group position-relative has-icon-left m-0">
                                                <label class="form-label" for="owner">Nombre del Propietario</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i class="fas fa-user "></i></span>
                                                    <input type="text" class="form-control"
                                                        placeholder="Alejandro López" id="owner" name="owner"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1" id="register">Enviar</button>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Termina contenido de la página web -->
            <footer>

                <div class="footer clearfix mb-0 text-muted">
                    <div class="text-center">
                        <p>2022 &copy; ThePandaDevs</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../assets/vendors/fontawesome/all.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/components.js" type="module"></script>
    <script src="../../assets/js/logout.js" type="module"></script>
    <script src="./../../assets/js/services/AdminStoresService.js" type="module"></script>
</body>

</html>