<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de contraseña</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon"  href="../../assets/images/favicon.ico" />
</head>

<body>
    <div id="auth" class="bg-white">
        <div class="row h-100">
            <div class="col-12 col-md-7">
                <div class="d-flex align-items-center h-100">
                    <div class="col-12 text-center">
                        <div class="p-2 p-md-5">
                            <div class="auth-logo ">
                                <img src="/assets/images/logo/logo.png" alt="Logo" style="height: 40px;">
                            </div>
                            <h1 class="fs-1 my-3">Recuperar contraseña</h1>
                            <form action="#">
                                <div class="form-group position-relative has-icon-left m-0 mb-4">
                                    <input type="email" class="form-control form-control-xl"
                                        placeholder="Correo electrónico">
                                    <div class="form-control-icon">
                                        <i class="fas fa-envelope text-secondary"></i>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block btn-lg shadow-lg">Enviar</button>
                            </form>
                            <div class="text-center mt-5 text-lg fs-4">
                                <p class='text-gray-600'>¿Recuerdas tu cuenta? <a href="./login.html"
                                        class="font-bold">Iniciar
                                        sesión</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-md-block">
                <div id="auth-right" class="left d-flex justify-content-center align-items-center">
                    <img src="../../assets/images/resources/candies.png" class="img-fluid" alt="Sample image">
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendors/fontawesome/all.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>