<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - SweetDrop  Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div id="auth" class="bg-white">
        <div class="row h-100">            
                <div class="col-lg-7 col-12">                 
                    <div id="auth-left">
                        <div class="auth-logo " >
                            <img src="/assets/images/logo/logo.png" alt="Logo" style="height: 40px;">
                        </div>
                    <h1 class="auth-title">Recuperar Contraseña</h1>
                       
                        <form action="#">
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="email" class="form-control form-control-xl" placeholder="Email">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Enviar</button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p class='text-gray-600'>Recuerdas tu cuenta? <a href="login.html" class="font-bold">Log in</a>.
                            </p>
                        </div>
                           
                        
           
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div id="auth-right" class="left d-flex justify-content-center align-items-center">
                        <img src="/assets/images/resources/candies.png"
                        class="img-fluid" alt="Sample image">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>