<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar visita</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
</head>

<body>

    <div id="app">
        <!-- Navbar -->
        <nav class="navbar nv-style  navbar-expand-md  navbar-light bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="" href="../dashboards/dealer_dashboard.html"> <img class="navbar-brand img-fluid" style="width: 100px; height:auto"
                        src="/assets/images/logo/logo.png"></img></a>
                <div class="collapse navbar-collapse  p-3 p-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-primary font-bold" aria-current="page" href="../dashboards/dealer_dashboard.html"><i
                                    class="fas fa-home me-2"></i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../dealer_views/dealer_stores.html"><i
                                    class="fas fa-store me-2"></i>Tiendas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Acaba Navbar -->
        <div id="main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item "><a href="../dashboards/dealer_dashboard.html">Dashboard</a></li>
                  <li class="breadcrumb-item "><a href="../dealer_views/dealer_stores.html">Tiendas</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Agregar visita
                  </li>
                </ol>
              </nav>
            <div class="mb-0 order-0">
                <div class="card mb-0">
                    <div class="d-flex align-items-center row">
                        <div class="col-sm-7">
                            <div class="card-body page-heading m-0 px-4">
                                <h3>Agregar Visita</h3>
                                <p class="fw-bold fs-5 text-auxiliar">Dulcería Wonderfully</p>
                                <span class=" text-secondary">
                                    <i class="fas fa-phone me-2 "></i>
                                    777 344 50 35</span>
                                <div class="mt-3">
                                    <span class=" text-secondary">
                                        <i class="fas fa-map-marker-alt me-2"></i>
                                        Vicente Guerrero #923 Colonia Azteca, Temixco 62353</span>
                                </div>
                                <div class="my-3"><a class="btn btn-outline-primary font-bold">
                                        <i class="fas fa-external-link-alt me-2"></i>
                                        Abrir en Google Maps</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left ">
                            <div class="card-body py-0 px-0 px-md-4">
                                <img src="/assets/images/resources/dealer-visit.png" height="200" alt="add-order" </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="page-content">

                    <div class="card">
                        <div class="card-header pb-0">
                            <h4 class="card-title mt-2">Agregar detalles de la visita</h4>
                            <p class="mb-1">Por favor, llena los siguientes datos para agregar la visita
                        </div>
                        <div class="card-content">
                            <div class="card-body py-0">
                                <hr>
                                <div>
                                    <p class="text-auxiliar font-semibold">Selecciona la fecha de visita:</p>
                                    <div class="form-group mt-3">
                                        <label for="helpInputTop" class="mb-3">Fecha de visita</label>
                                        <small class="text-muted">(DD/MM/AAAA)</small>
                                        <input type="date" class="form-control" id="helpInputTop">
                                    </div>
                                    <hr class="my-4">
                                    <div class="card-header p-0">
                                        <p class="text-auxiliar font-semibold">Agrega tus observaciones sobre esta
                                            visita: </p>
                                    </div>
                                    <div class="card-body px-0">
                                        <div class="form-floating">
                                            <textarea cols="50" rows="4" class="form-control"
                                                placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                            <label for="floatingTextarea">Tus observaciones</label>
                                        </div>
                                        <p class="my-3 font-semibold text-auxiliar">Subir foto(s)
                                            <small class="text-muted fw-light">Realiza una foto a la evidencia
                                                correspondiente.</small>
                                        </p>  
                                        <div class="m-0">
                                            <input type="file" aria-describedby="button-addon2" class="form-control" id="selectedFile" style="display: none;" />
                                            <button type="button" id="button-addon2" class="btn btn-secondary col-12"
                                                onclick="document.getElementById('selectedFile').click()">
                                                <i class="fas fa-camera me-2"></i>Abrir cámara</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <footer>
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="text-center">
                            <p>2022 &copy; ThePandaDevs</p>
                        </div>

                    </div>
                </footer>
            </div>
        </div>


        <!-- Scripts 
    ================================================== -->
        <script src="/assets/vendors/fontawesome/all.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>