<nav class="navbar nv-style navbar-expand-md navbar-light bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="../../index.html">
            <img class="navbar-brand img-fluid" style="width: 100px; height:auto"
                 src="../../assets/images/logo/logo.png"/></a>
        <div class="collapse navbar-collapse  p-3 p-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-primary font-bold" aria-current="page"
                       href="../dashboards/dealer_dashboard.html"><i class="fas fa-home me-2"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../dealer_views/dealer_stores.html"><i
                            class="fas fa-store me-2"></i>Tiendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../products/products.html"><i
                            class="fas fa-store me-2"></i>Productos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../profile/profile.html"><i class="fas fa-user me-2"></i>Perfil</a>
                </li>
                <li class="nav-item">
                    <a id="btnLogout"  type="button" class="nav-link"><i class="fas fa-arrow-alt-circle-left me-2"></i>Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>