<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - SweetDrop</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body style="background-color: #ffffff;">
    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="img-error" src="../../assets/images/resources/error-404.png" alt="Not Found 403 image">
                </div>
                <div class="text-center">
                    <h1 class="error-title">Página no encontrada</h1>
                    <p class="fs-5">¡Upps! 😖 No pudimos encontrar esta página.</p>
                    <a href="../../index.html" class="btn btn-lg btn-outline-primary mt-3">Ir a inicio</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>