<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Orden</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css">
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
    <div id="app">
        <nav id="navTemplate"></nav>
        <div id="main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="../dashboards/dealer_dashboard.html">Dashboard</a></li>
                    <li class="breadcrumb-item "><a href="../dealer_views/dealer_stores.html">Tiendas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Realizar orden
                    </li>
                </ol>
            </nav>
            <div class="mb-0 order-0">
                <div class="card mb-0">
                    <div class="d-flex align-items-center row">
                        <div class="col-sm-7">
                            <div class="card-body page-heading m-0 px-4">
                                <h3>Realizar Orden</h3>
                                <p id="name"></p>
                                <span id="phone" class="text-secondary"></span>
                                <div class="mt-3">
                                    <span class="text-secondary" id="address"></span>
                                </div>
                                <div class="my-3" id="openAddress">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left ">
                            <div class="card-body py-0 px-0 px-md-4">
                                <img src="../../assets/images/resources/add-order.png" height="200" alt="add-order"/>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="page-content">
                    <form id="formOrder">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mt-2">Agregar detalles de la orden</h4>
                                <p class="mb-1">Por favor, llena los siguientes datos para realizar la orden

                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="list-group list-group-horizontal-sm mb-4 text-center" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-sunday-list"
                                            data-bs-toggle="list" href="#list-sunday" role="tab" aria-selected="true"><i
                                                class="fas fa-user me-2 "></i>Persona que recibirá</a>
                                        <a class="list-group-item list-group-item-action" id="list-monday-list"
                                            data-bs-toggle="list" href="#list-monday" role="tab" aria-selected="false"
                                            tabindex="-1"><i class="fas fa-candy-cane me-2 "></i>Seleccionar
                                            Productos</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list"
                                            data-bs-toggle="list" href="#list-tuesday" role="tab" aria-selected="false"
                                            tabindex="-1"><i class="fas fa-eye me-2 "></i>Observaciones</a>
                                    </div>
                                    <hr>
                                    <div class="tab-content text-justify">
                                        <div class="tab-pane fade show active" id="list-sunday" role="tabpanel"
                                            aria-labelledby="list-sunday-list">
                                            <p class="text-auxiliar font-semibold">Introduce el nombre de la persona que se encargará de recibir el pedido:</p>
                                            <div class="card-body form-check px-5">
                                                <input type="checkbox"
                                                    class="form-check-input form-check-primary form-check-glow"
                                                    name="customCheck" id="isTheOwner">
                                                <label class="form-check-label mt-2" for="isTheOwner">El que recibe es el dueño</label>
                                            </div>
                                            <div class="form-group mt-4">
                                                <label for="received_by">Nombre completo</label>
                                                <small class="text-muted">(Pj: Fernanda Torres Leyva)</small>
                                                <input type="text" class="form-control mt-2"
                                                    placeholder="Introducir nombre completo" id="received_by">
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="list-monday" role="tabpanel"
                                            aria-labelledby="list-monday-list">
                                            <p class="text-auxiliar font-semibold">Selecciona los productos pertinentes de la orden.</p>
                                            <div class="mt-3 mb-4 ">
                                                <div class="form-group position-relative has-icon-left m-0">
                                                    <input type="text" class="form-control" id="inputProducts"
                                                        placeholder="Filtrar producto por nombre o SKU"/>
                                                    <div class="form-control-icon">
                                                        <i class="fas fa-search fs-6 text-secondary"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <section class="row gx-4" id="products"></section>
                                        </div>
                                        <div class="tab-pane fade" id="list-tuesday" role="tabpanel"
                                            aria-labelledby="list-tuesday-list">
                                            <div>
                                                <div class="card-header mb-2 p-0">
                                                    <p class="text-auxiliar font-semibold">Agrega tus observaciones
                                                        sobre
                                                        esta
                                                        orden</p>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div class="form-floating">
                                                        <textarea class="form-control"
                                                            placeholder="Leave a comment here" id="comment"></textarea>
                                                        <label for="comment">Tus observaciones</label>
                                                    </div>
                                                    <p class="my-3 font-semibold text-auxiliar">Subir foto(s)
                                                        <small class="text-muted fw-light">Realiza una foto a la
                                                            evidencia
                                                            correspondiente.</small>
                                                    </p>
                                                    <div class="m-0">
                                                        <input type="file" aria-describedby="button-addon2"
                                                            class="form-control" id="selectedFile"
                                                            style="display: none;" />
                                                        <button type="button" id="button-addon2"
                                                            class="btn btn-secondary col-12"
                                                            onclick="document.getElementById('selectedFile').click()">
                                                            <i class="fas fa-camera me-2"></i>Abrir cámara
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-float mt-2 d-flex justify-content-center">
                            <button class="btn btn-primary col-10 btn-floating">
                                <i class="fas fa-file-signature me-2"></i>Realizar Orden
                            </button>
                        </div>
                    </form>

                </div>
                <footer>
                    <div class="footer clearfix mb-5 text-muted">
                        <div class="text-center">
                            <p>2022 &copy; ThePandaDevs</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="../../assets/vendors/fontawesome/all.min.js"></script>
        <script src="../../assets/js/bootstrap.bundle.min.js"></script>
        <script src="../../assets/js/app.js"></script>
        <script src="../../assets/js/components.js" type="module"></script>
        <script src="../../assets/js/logout.js" type="module"></script>
        <script src="../../assets/js/services/CreateOrderService.js" type="module" ></script>
</body>

</html>