<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Tienda</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
</head>

<body>
    <div id="app">
        <nav class="navbar nv-style  navbar-expand-md  navbar-light bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="" href="#"> <img class="navbar-brand img-fluid" style="width: 100px; height:auto"
                        src="/assets/images/logo/logo.png"></img></a>
                <div class="collapse navbar-collapse  p-3 p-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-primary font-bold" aria-current="page" href="#"><i class="fas fa-home me-2"></i>Dashboard</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../dealer_views/dealer_stores.html"><i class="fas fa-store me-2"></i>Tiendas</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../../profile/profile.html"><i class="fas fa-user me-2"></i>Perfil</a>
                        </li>                                                  
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main">

            <!-- Titulo de la página web -->
            <div class="card m-4">
                <div class="page-heading ms-4 p-4 text-center">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid rounded"  src="./../../../assets/images/resources/store.png">
                          </div>
                          <div class="col-6">
                            <h3>Nombre del Usuario</h3>
                            <p>Rol</p> 
                          </div>
                    </div>
                </div>
            </div>
            
            <!-- Contenido de la página web -->
            <div class="page-content p-4 ">
                <section class="row">
                      <div class="container-fluid py-4">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header pb-0">
                                <div class="d-flex align-items-center">
                                    <h3 class=" text-center">Datos de la Tienda</h3>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group position-relative has-icon-left mb-4">
                                            <label class="form-label" for="name">Nombre</label>
                                                <div class="input-group mb-3"></span>
                                                    <input type="text" class="form-control"
                                                        placeholder="Abarrotes Domínguez" />
                                                </div>
                                        </div>
                                        </div>
                                      <div class="col-md-4">
                                        <div class="form-group position-relative has-icon-left mb-4">
                                            <label class="form-label" for="phone">Teléfono</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="phone"><i
                                                            class="fas fa-phone"></i></span>
                                                    <input type="text" class="form-control"
                                                        placeholder="7775674323" />
                                                </div>
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group position-relative has-icon-left mb-4">
                                                <label class="form-label" for="address">Dirección</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="deliver_date"><i
                                                                class="fas fa-map"></i></span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Av.Plan de Ayala No.45" />
                                                    </div>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group position-relative has-icon-left mb-4">
                                                    <label class="form-label" for="zipcode">Código Postal</label>
                                                        <div class="input-group mb-3">
                                                            <input type="number" class="form-control"
                                                                placeholder="62000" />
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group position-relative has-icon-left mb-4">
                                                        <label class="form-label" for="owner">Nombre del Propietario</label>
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="owner"><i
                                                                        class="fas fa-user "></i></span>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Alejandro López" />
                                                            </div>
                                                    </div>
                                                </div>
                                </div>                               
                                <div class="d-flex justify-content-between mt-4">                                  
                                    <a href="../orders/register_visit.html" class="btn btn-primary col-12 mb-5">
                                        <i class="fas fa-pen me-2"></i>
                                        Actualizar
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between mb-md-4">
                                    <a href="../orders/orders.html" class="btn btn-danger col-12">
                                        <i class="fas fa-trash me-2"></i>
                                        Eliminar tienda
                                    </a>                                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
            </div>
            <!-- Termina contenido de la página web -->
            <footer>

                <div class="footer clearfix mb-0 text-muted">
                    <div class="text-center">
                        <p>2022 &copy; ThePandaDevs</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/vendors/fontawesome/all.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>