<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stores</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon" />
</head>

<body>

    <div id="app">
        <div id="main">

         
             <!-- Titulo de la página web -->
            <div class="card m-4">
                <div class="page-heading ms-4 p-4 text-center">
                    <div class="row">
                        <div class="col-5">
                            <img class="img-fluid rounded" src="./../../../assets/images/resources/list_stores.png">
                          </div>
                          <div class="col-7">
                            <h2>Listado de Tiendas</h2>
                          </div>
                    </div>
                </div>
            </div>

            <!--Contenido de la página web-->
            <div class="page-content">
                <section class="row ">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="img-fluid rounded p-4" src="./../../../assets/images/resources/store.png">

                            <div class="card-body text-center">
                                <h4 class="card-title">Abarrotes Domínguez</h4>
                                <h6 class="mb-2 text-muted">Ubicación: Av.Palmira Col. Las Palmas</h6>
                                <div class="justify-content-between align-center">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                    <button type="button" class="btn btn-outline-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="img-fluid rounded p-4" src="./../../../assets/images/resources/store.png">

                            <div class="card-body text-center">
                                <h4 class="card-title">Abarrotes Domínguez</h4>
                                <h6 class="mb-2 text-muted">Ubicación: Av.Palmira Col. Las Palmas</h6>
                                <div class="justify-content-between align-center">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                    <button type="button" class="btn btn-outline-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="img-fluid rounded p-4" src="./../../../assets/images/resources/store.png">

                            <div class="card-body text-center">
                                <h4 class="card-title">Abarrotes Domínguez</h4>
                                <h6 class="mb-2 text-muted">Ubicación: Av.Palmira Col. Las Palmas</h6>
                                <div class="justify-content-between align-center">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                    <button type="button" class="btn btn-outline-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/assets/vendors/fontawesome/all.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>