<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Productos</title>


    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/vendors/notiflix/notiflix-3.2.5.min.css">
    <script src="../../assets/vendors/notiflix/notiflix-3.2.5.min.js" type="module"></script>
</head>

<body>
<div id="app">
     <nav id="navTemplate"></nav>
    <div id="main">
        <div class="mb-0 order-0">
            <div class="card mb-0">
                <div class="d-flex align-items-center row">
                    <div class="col-sm-7">
                        <div class="card-body page-heading  m-0 px-4">
                            <div class="row gx-4">
                                <div class="col-auto my-auto">
                                    <div class="h-100">
                                        <h1 class="mb-1">
                                            Actualizar Productos
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="my-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="horizontal dark">

        <div class="page-content">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row gx-4">


                            <form class="form" id="updateProduct">
                                <div class="row">
                                    <div class="col-md-6 col-12 mt-3 mb-4 ">
                                        <div class="form-group position-relative has-icon-left m-0">
                                            <input type="text" id="lastname-column" class="form-control" 
                                                   name="name"  id="name" placeholder="Nombre">
                                            <div class="form-control-icon">
                                                <i class="fas fa-box fs-6 text-secondary"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 mt-3 mb-4 ">
                                        <div class="form-group position-relative has-icon-left m-0">

                                            <input type="number" id="price" class="form-control"
                                                   name="price" id="price" placeholder="Precio Unitario">
                                            <div class="form-control-icon">
                                                <i class="fas fa-dollar-sign fs-6 text-secondary"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-md-6 col-12 mt-3 mb-4 ">
                                        <div class="form-group position-relative" >

                                            <input class="form-control form-control-lg" id="formFileLg" type="file">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Descripción</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Enviar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="text-center">
            <p>2022 &copy; ThePandaDevs</p>
        </div>
    </div>
</footer>
</div>
</div>

<script src="../../assets/vendors/fontawesome/all.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/components.js" type="module"></script>
<script src="../../assets/js/logout.js" type="module"></script>
<script src="./../../assets/js/services/AdminUpdateProducts.js" type="module"></script>

</body>

</html>

